---
import BaseLayout from "../layout/BaseLayout.astro";
import Greeting from '../components/Greeting';
const pageTitle = "Mi sitio web"
---

<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>