---
const pageTitle = "Pagina de inicio"
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience." />
		<title>{ pageTitle }</title>
	</head>
	<body>
		<a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
		<h1> { pageTitle } </h1>
	</body>
</html>
